<app-navbar></app-navbar>
<div class="container">
<div class="displayTable">
    <div class="displayTableCell">
  
      <div class="authBlock">
        <h3>Sign Up</h3>
  
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Email" #userEmail required>
        </div>
  
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Contraseña" #userPwd required>
        </div>
  
        <div class="formGroup">
          <input type="button" class="btn btnPrimary" value="Registrarse" (click)="authService.SignUp(userEmail.value, userPwd.value)">
        </div>
  
        <div class="formGroup">
          <span class="or"><span class="orInner">O</span></span>
        </div>
  
       
      
      </div>
  
      <div class="redirectToLogin">
        <span>Ya tienes cuenta? <span class="redirect" routerLink="/sign-in">Iniciar session</span></span>
      </div>
    </div>
  
  </div>
  <br><br><br><br>
</div>
  <app-footer></app-footer>
