<app-navbar></app-navbar>
<div class="container">
<h1>Lo mejor en cuidado para tus mascotas</h1>
<br><br><br>
<br><br><br>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum unde aperiam delectus totam. Facilis expedita nihil commodi facere, id perspiciatis nesciunt voluptas maxime libero voluptatem doloribus nostrum obcaecati reiciendis eligendi!</p>
<img src="https://www.65ymas.com/uploads/s1/10/90/57/bigstock-dog-and-cat-under-a-plaid-pet-207104617.jpeg" width="700" height="300">
</div>
<app-footer></app-footer>